/* styles.css */
/* CSS für die Suchfunktion */
.search-box {
    margin: 10px;
  }
  
  .search-input {
    padding: 5px;
    width: 200px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #d9122c;
    color: #151515;
    border: none;
    cursor: pointer;
  }