/* Stil für die gesamte Seite */
.hom-container {
  margin: 0;
  padding: 0;
  background-image: url('./background/background-image.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #333; /* Standardtextfarbe */
  justify-content: center;
  min-height: 100vh;
}