.new-note {
    background-image: url('../background/papier.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(19, 15, 1, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #72592b;
    background-color: #908c86;
}

.new-note h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.new-note .title-input {
    background: linear-gradient(to right, rgba(204, 200, 188, 0.57), rgba(124, 110, 79, 0.659), rgb(195, 193, 185));
    width: 30%;
    margin-bottom: 50px;
    padding: 50px;
    border: 1px solid #916404;
    border-radius: 30px;
    margin-left: 70px;
  }
  
  .new-note .content-input {
    background: linear-gradient(to right, rgba(204, 200, 188, 0.57), rgba(124, 110, 79, 0.659), rgb(195, 193, 185));
    width: 40%;
    margin-bottom: 50px;
    padding: 50px;
    border: 1px solid #916404;
    border-radius: 30px;
    margin-left: 70px;
  }
  

.new-note label {
    margin-right: 50px;
}

.new-note button {
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(211, 185, 107), rgba(231, 193, 105, 0.659), rgb(151, 123, 7));
    color: #6b4706;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.new-note .title-input {
    font-size: 30px; /* Hier die gewünschte Schriftgröße für den Titel */
    font-weight: bold;
    text-align: center;
}

.new-note .content-input {
    font-size: 24px;
 }

.new-note button:hover {
    background-color: #c3975b;
}

