/* Stil für die gesamte Seite */
body {
    margin: 0;
    padding: 0;
    background-image: url('../background/background-image.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333; /* Standardtextfarbe */
    justify-content: center;
    min-height: 100vh;
}
.col-md-6 {
    background: linear-gradient(to right, rgb(211, 185, 107), rgba(231, 193, 105, 0.659), rgb(151, 123, 7));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(219, 169, 5, 0.2);
    width: 100%;
    max-width: 400px;
}

.form-group label {
    display: flex;
    margin-bottom: 1.5rem;
    color: #483106dc;
    justify-content: flex-start; /* Ändere die Ausrichtung des Labels */
    align-items: center; /* Vertikale Ausrichtung des Labels */
}



.form-group input {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: 1px solid #d8a305;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.GoogleLogin {
    margin-top: 1rem;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 0.875rem;
}
