/* Connexion.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7f6;
    background-image: url('../background/background-image.png');
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-md-6 {
    background: linear-gradient(to right, rgb(244, 243, 240), rgba(165, 157, 85, 0.659), rgb(240, 239, 235));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(219, 169, 5, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #0c0b0bd8;
    font-size: 2rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #0a0a0b;
}

.form-group input {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: 1px solid #d8a305;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
}

.btn-primary {
    background-color: #ffbb00;
    color: rgb(19, 18, 18);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.GoogleLogin {
    margin-top: 1rem;
}


.alert-danger {
    background-color: #f8f4f4;
    color: #0e0d0d;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 0.875rem;
}
